.root{
	-fx-background-image: url("arkivitbg.jpg");
	-fx-background-repeat: no-repeat;
}

#saveButton{
	-fx-background-color:#FCCC00 ;
    -fx-border-radius: 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

#saveButton:hover{
	-fx-background-color:#FFDE34;
    -fx-border-radius: 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
#saveButton:pressed{
	-fx-background-color:#FFDE34;
    -fx-border-radius: 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}